.projects-container {
    margin-top: 9rem;
    text-align: center;
}
.projects-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 40px auto 0;
    max-width: 900px;
}
.projects-title {
    font-size: 1.8rem;
    color: var(--text-main);
}
.projects-subtitle {
    font-size: 1.2rem;
    line-height: 1.4;
    color: var(--text-muted);
    margin-top: 10px;
}
.project-img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.project-card {
    background: var(--bg-card);
    max-width: 300px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 8px;
    color: var(--text-muted);
}
.pc-details {
    text-align: left;
    margin-top: 5px;
    padding: 18px 20px 22px; 
}
.pc-title {
    font-size: 1.1rem;
    color: var(--text-main);
}
.pc-description {
    font-size: 1rem;
    margin-top: 10px;
}
.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}
.tech-main {
    border-radius: 4px;
    border: 1px solid #36383a;
    padding: 2px 12px;
    margin-top: 20px;
}
.project-links {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.project-links a {
    color: var(--text-main);
    font-size: 1.2rem;
}
@media (max-width: 768px) {
    .projects-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin: 40px auto 0;
        max-width: 600px;
 }
}
@media (max-width: 480px) {
    .projects-details {
        display: flex;
        overflow-x: auto;
        gap: 15px;
        scroll-behavior: smooth;
        padding: 10px 0;
    }
    .project-img {
        height: 170px;
    }
    .projects-details::-webkit-scrollbar {
        display: none;
    }
    .project-card {
        flex: 0 0 90%;
        scroll-snap-align: start;
        margin-top: 0;
    }
    .projects-details {
        scroll-snap-type: x mandatory;
    }
    .projects-subtitle {
        max-width: 320px;
        margin: 0 auto;
    }
}