.hero-main-container {
  position: relative;
  min-height: 90vh;
  z-index: 1;
  overflow: hidden;
  background: radial-gradient(circle at bottom, #081035, #020202);
}

#stars-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--text-main);
  padding: 10rem;
  margin-top: 60px;
  text-align: center;
}

.hero-title {
  animation: fadeIn 0.4s ease-in-out;
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-btn {
  margin-top: 25px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--blue-btn);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
@media (max-width: 768px) {
  .hero-main-container {
    min-height: 40vh;
  }
  .hero-content {
    padding: 6rem;
  }

  .hero-title {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
   .hero-main-container {
    min-height: 80vh;
  }
  .hero-content {
    margin-top: 8rem;
  }

  .hero-title {
    font-size: 2rem;
    max-width: 800px;
  }
}
