.hero-main-container {
  position: relative;
  min-height: 80vh;
  z-index: 1;
  overflow: hidden;
  background: radial-gradient(circle at bottom, #081035, #020202);
}

#stars-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--text-main);
  padding: 10rem;
  margin-top: 30px;
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  max-width: 900px;
}

.hero-btn {
  margin-top: 25px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--blue-btn);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hero-main-container {
    min-height: 40vh;
  }
  .hero-content {
    padding: 6rem;
  }

  .hero-title {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
   .hero-main-container {
    min-height: 75vh;
  }
  .hero-content {
    margin-top: 9rem;
  }

  .hero-title {
    font-size: 1.3rem;
  }
}
