.skills {
  text-align: center;
  margin-top: 80px;
}
.skills-main-content-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.section-title {
  font-size: 1.8rem;
  color: var(--text-main);
}
.skills-details-main-container, .tools-content {
  margin-top: 50px;
}
.section-desc {
  font-size: 1.2rem;
  color: var(--text-muted);
  margin-top: 10px;
}
.skills-content {
    margin-top: 20px;
}
.skill {
  margin-bottom: 1.3rem;
}

.skill-info {
  color: var(--text-muted);
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.progress {
  width: 100%;
  height: 8px;
  background: #1f1f1f;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 10px;
}
.skill-c-title {
    color: var(--text-muted);
    font-size: 1.2rem;
}
.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #4f9cf9, #1054bb);
  border-radius: 6px;
  animation: load 5s ease;
  
}
.skills-content, .tools {
  flex: 1;
  max-width: 500px;
}
.tools {
  margin-top: 20px;
}
.tools-details {
  color: var(--text-muted);
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}
.tool-progress{
  background: #1f1f1f;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  height: 8px;
  margin-top: 10px;
}
.tools-bar {
  background: linear-gradient(90deg, #4f9cf9, #1054bb);
  height: 100%;
  animation: load 5s ease;
  border-radius: 8px;
}
@keyframes load {
  from {
    width: 0;
  }
}

@media (max-width: 768px) {
  .skills-content, .tools {
    flex: 1;
    max-width: 250px;
 }
}
@media (max-width: 480px) {
  .skills-main-content-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 40px;
    margin-top: -30px;
  }
  .section-desc {
    max-width: 280px;
    margin: 10px auto 0;
  }
  .skills {
    margin-top: 40px;
  }
}