.blogs {
    margin-top: 9rem;
    text-align: center;
}
.head {
    font-size: 1.8rem;
    color: var(--text-main);
}
.sub-head {
    font-size: 1.2rem;
    color: var(--text-muted);
    margin-top: 10px;
}
.blog-content {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: var(--bg-card);
    max-width: 450px;
    padding: 20px;
    margin-top: 10px;
    text-align: left;
    border-radius: 8px;
}
.card-title {
    color: var(--text-main);
    font-size: 1.1rem;
}
.card-subtitle {
    color: var(--text-muted);
    margin-top: 5px;
    font-size: 1rem;
}
.read-btn {
    margin-top: 25px;
    padding: 10px 50px;
    border: none;
    border-radius: 8px;
    background-color: var(--blue-btn);
    color: white;
    font-size: 1rem;
}
@media (max-width: 768px) {
    .blog-content {
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    max-width: 700px;
 }
}
@media (max-width: 480px) {
    .blog-content {
    grid-template-columns: repeat(1,1fr);
    gap: 9px;
    max-width: 300px;
    margin: 0 auto;
 }
 .card {
    max-width: 350px;
 }
}